/* Universal Styles */

html {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
}

body {
  background-color: whitesmoke;
  color: rgb(73,73,73);
  font-weight: 400;
  line-height: 1.4;
}

/* HEADER */

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  border-bottom: 1px solid grey;
}

.branding {
  display: flex;
  align-items: center;
}

.branding img {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.branding-text {
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: .5px;
}

.branding-text span {
  font-weight: 600;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-right: 0;
}

a {
  text-decoration: none;
  padding: 1rem;
}

a:hover {
  background-color: black;
  color: whitesmoke;
  transition:
    background-color 1s ease-out 200ms,
    color 400ms ease-out;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;

}

h2 {
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

button {
  font-size: 1rem;
  color: white;
  background-color: rgb(73,73,73);
  padding: 1rem 0;
  width: 100%;
}

/* CONTENT */

.banner {
  display: flex;
  align-items: center;
  padding: 6rem 1.5rem 2rem 1.5rem;
  background-color: gainsboro;
}

.banner img {
  width: 60%;
  margin-right: 1.5rem;
}

.teaser-text {
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ARTICLES */

.articles {
  background-color: whitesmoke;
  width: 100%;
}

.article-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem 2rem 1.5rem;
}

.article-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 60%;
}

.article-main img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.5rem;
}

.articles-aside {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.article {
  display: flex;
  align-items: flex-start;
  margin-left: 1.5rem;
  width: 100%;
}

.article:last-child {
  background-color: hsla(0, 0%, 75%, 1);
}

.article img {
  width: 35%;
  height: auto;
  display: block;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.article-description {
  width: 65%;
}

.article h4 {
  margin-bottom: .5rem;
}

.article a {
  color: dodgerblue;
}

/* COURSES */
.course-section {
  background-color: rgba(234,235,236,1);
  width: 100%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.courses {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: white;
}

.course-card img {
  width: 100%;
  height: auto;
  display: block;
}

.course-description {
  display: flex;
  flex-direction: column;
  height: 8rem;
  padding: 1rem 1rem 1.5rem 1rem;

  text-align: left;
}

.category {
  text-transform: uppercase;
  font-weight: lighter;
  padding: .5rem 0;
}

/* THESIS EXHIBIT */

.thesis-section {
  background-color: gainsboro;
  width: 100%;
}

.thesis-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem 2rem 1.5rem;
}

.thesis-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 60%;
}

.thesis-main video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.5rem;
}

.thesis-main h4 {
  margin-bottom: .5rem;
}

.thesis-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  width: 40%;
}

.thesis {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.thesis:first-child {
  background-color: hsla(0, 0%, 75%, 1);
}

.thesis img {
  width: 35%;
  height: auto;
  display: block;
  padding: 1rem;
}

.thesis-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
}

.thesis-description h4 {
  margin-bottom: 1rem;
}

/* FOOTER */

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 4rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  border-top: 1px solid grey;
}

footer ul {
  display: flex;
  margin-right: 1.5rem;
}

footer ul li a{
  color: dimgrey;
}
